<!doctype html>
<html lang="en" ng-app="loanWiper">
  <head>
    <meta charset="utf-8">
    <title>Loan Wiper</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.4/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.4/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.4/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>

	<script src="app.js"></script>
	<script src="modules/core.module.js"></script>
    <script src="modules/calculation.module.js"></script>
    <script src="modules/rates.module.js"></script>
	<script src="services/calculation.service.js"></script>
    <script src="services/rates.service.js"></script>
    <script src="directives/piechart.directive.js"></script>
    <script src="directives/payments-table.directive.js"></script>
    <script src="controllers/chart.controller.js"></script>
    <script src="controllers/calculation.controller.js"></script>
  </head>
  <body>
  <div class="container-fluid" ng-controller="Calculation">
      <div class="page-header">
          <h1>Loan Wiper</h1>
      </div>
      <div class="row">
          <div id="loanForm" class="col-lg-8 col-sm-8 col-md-offset-2 text-center">
              <form ng-submit="submit()">
                    Loaned
                    <input id="loanAmountInput" ng-model="query.capital" type="number" min="1" max="10000000">
                    <select ng-model="loanCurrency" ng-options="c.key | uppercase for c in currencies track by c.key">
                    </select>
                    with annual interest rate of
                    <input id="interestInput" ng-model="query.interest" type="number" min="0.0001" max="1" step="0.01">
                    , to be paid in
                    <input id="monthsInput" ng-model="query.months" type="number" min="1" max="600">
                    payments. Loan will be paid with
                    <select ng-model="query.type">
                        <option>emi</option>
                        <option>vmi</option>
                    </select>
                    <span class=" glyphicon glyphicon-question-sign tool-tip" data-toggle="tooltip" data-placement="right" title="EMI - Equated Monthly Installment&#10VMI - Variable Monthly Installment"/>
                    </span>
              </form>
          </div>
      </div>
      <br>
      <div class="row">
          <div class="col-lg-8 col-sm-8 col-md-offset-3">
              Optionally, you can check how much you could save by making overpayments.
              <fieldset  data-ng-repeat="o in overpayments">
                  <input ng-model="o.month" type="number" min="1" max="{{query.months}}" placeholder="Month">
                  <input ng-model="o.amount" type="number" min="0" step="0.01" placeholder="Amount">
                  <button ng-show="$last" ng-click="removeOverpayment()">X</button>
              </fieldset>
              <br>
              <button id="overpaymentButton" ng-click="addOverpayment()">Add Overpayment</button>
              <div class="row">
                  <div class="col-lg-1 col-sm- col-md-offset-4">
                      <input id="planButton" type="submit" value="Get Plan" ng-click="submit()" />
                  </div>
              </div>
          </div>
      </div>
      <br>
      <br>
      <div class="row">
          <div id="chart" class="col-lg-5 col-sm-5 col-md-offset-3" ng-controller="ChartController">
              <canvas id="line" class="chart chart-line" chart-data="data"
                      chart-labels="labels" chart-series="series" chart-options="options"
                      chart-dataset-override="datasetOverride" chart-click="onClick">
              </canvas>
          </div>
      </div>
      <br>
      <div class="row">
          <div ng-if="!angular.equals({}, defaultCalc)" ng-class="defaultSummaryClass">
              <p>You have paid <span class="bg-primary">{{defaultCalc.totalPaid | currency: loanCurrency.symbol}}</span> in total which included <span class="bg-primary">{{defaultCalc.totalInterestPaid | currency: loanCurrency.symbol}}</span> of interest.</p>
              <span>In</span>
              <select ng-model="exchangeCurrency" ng-options="c.key | uppercase for c in currencies" ng-change="exchange(exchangeCurrency)">
              </select>
              <span>that is</span>
              <span ng-show="exchangedPaid === undefined">...</span>
              <span ng-show="exchangedPaid"><span class="bg-primary">{{exchangedPaid | currency: exchangeCurrency.symbol}}</span> total, including <span class="bg-primary">{{exchangedInterest | currency: exchangeCurrency.symbol}}</span> interest.</span>
          </div>
          <div class="col-lg-1 col-sm-3 col-md-offset-1" piechart plan="defaultCalc">
          </div>
          <div ng-if="!angular.equals({}, overpaidCalc)" class="col-lg-3 col-sm-3">
              <p>You have paid <span class="bg-primary">{{overpaidCalc.totalPaid | currency: loanCurrency.symbol}}</span> in total which included <span class="bg-primary">{{overpaidCalc.totalInterestPaid | currency: loanCurrency.symbol}}</span> of interest.</p>
              <p>You have saved <span class="bg-success">{{defaultCalc.totalPaid - overpaidCalc.totalPaid | currency: loanCurrency.symbol}}<span ng-if="exchangeCurrency"> ({{exchangedPaid - exchangedOpPaid | currency: exchangeCurrency.symbol}})</span></span> by overpaying.</p>
              <span ng-if="exchangeCurrency">In {{exchangeCurrency.key | uppercase}} that is</span>
              <span ng-if="exchangeCurrency" ng-show="exchangedPaid === undefined">...</span>
              <span ng-show="exchangedPaid"><span class="bg-primary">{{exchangedOpPaid | currency: exchangeCurrency.symbol}}</span> total, including <span class="bg-primary">{{exchangedOpInterest | currency: exchangeCurrency.symbol}}</span> interest.</span>
          </div>
          <div ng-if="!angular.equals({}, overpaidCalc)" class="col-lg-1 col-sm-3 col-md-offset-1" piechart plan="overpaidCalc">
          </div>
      </div>
      <br>
      <div ng-class="defaultTableClass" payments-table plan="defaultCalc"/>
      </div>
      <div ng-if="overpaidCalc" class="col-lg-5 col-sm-5" payments-table plan="overpaidCalc"/>
      </div>
  </div>
  </body>
</html>
