input, button, select {
    border: 1px solid #ededf3;
    border-radius: 5px;
}

#overpaymentButton {
    margin-top: 5px;
}

#overpaymentButton, #planButton:focus {
    outline:none;
}

#planButton {
    margin-top: 15px;
    background-color: rgba(115, 175, 224, 0.89);
    padding: 5px;
    font-size: 16px;
    color: white;
}

.bg-primary, .bg-success {
    border-radius: 5px;
    padding: 2px;
}

.bg-primary {
    background-color: rgba(115, 175, 224, 0.89);
}

.bg-success {
    background-color: #9ad880;
    color: white;
}

p {
    font-size: 15px;
}

.table td, th {
   text-align: center;
}

input {
    padding-left: 3px
}

#loanAmountInput {
    width: 130px;
}

#interestInput {
    width: 70px;
}

#monthsInput {
   width: 55px;
}

#loanForm {
    padding-right: 30px;
}

#chart {
    padding-left: 75px;
}