<table class="table table-striped table-condensed">
    <tr ng-if="!angular.equals({}, plan)">
        <th>No.</th>
        <th>Total</th>
        <th>Capital</th>
        <th>Interest</th>
    </tr>
    <tr data-ng-repeat="d in plan.paymentSchedule">
        <td>{{d.monthNumber }}</td>
        <td>{{d.monthlyPayment | currency: loanCurrency.symbol}}</td>
        <td>{{d.monthlyCapitalPayment | currency: loanCurrency.symbol}}</td>
        <td>{{d.monthlyInterestPayment | currency: loanCurrency.symbol}}</td>
    </tr>
</table>